/* =======================================================
* 	Shaun Carroll
*	  Created: 17/11/2016
*   V 1.1
* ======================================================= */

html { }

body {
    font-family : 'Quicksand', sans-serif;
    font-weight : 400;
    font-size   : 20px;
    line-height : 1.9;
    color       : #333333;
}

.disabledBtn {
    background : #CCCCCC !important;
    border     : 1px solid #333333 !important;
    color      : #333333 !important;
    cursor     : not-allowed !important;
}

.divCenter {
    margin-left  : auto;
    margin-right : auto;
    float        : none;
}

a {
    color : #00619E;
}

a:hover, a:active, a:focus {
    color           : #000000;
    text-decoration : none !important;
}

a:hover:after, a:active:after, a:focus:after { }

p {
    margin-bottom : 30px;
    margin-top    : 0;
    padding-top   : 0;
}

h1, h2, h3, h4, h5, h6, figure {
    color       : #000000;
    font-weight : 400;
    margin      : 0;
}

.heroName {
    font-family    : "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight    : 800;
    letter-spacing : -10px;
    border-right   : 1px solid #BBBBBB;
    font-size      : 4em;
}

.blurb {
    border-left : 1px solid #BBBBBB;
}

::-webkit-selection {
    color      : #FFFFFF;
    background : #00619E;
}

::-moz-selection {
    color      : #FFFFFF;
    background : #00619E;
}

::selection {
    color      : #FFFFFF;
    background : #00619E;
}

header .overlay {
    position   : absolute;
    top        : 0;
    left       : 0;
    right      : 0;
    bottom     : 0;
    z-index    : 3;
    background : transparent;
}

header .bio-photo {
    z-index  : 20;
    position : absolute;
    top      : 230px;
    left     : 50%;
}

header .bio-photo img {
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
    -ms-border-radius     : 50%;
    border-radius         : 50%;
    border                : 10px solid #FFFFFF;
}

header .bio-photo a:after {
    display : none !important;
}

section {
    padding : 40px 0;
}

#footer {
    padding    : 7em 0;
    background : #262626;
    color      : #666666;
}

#footer a {
    color : #F9D623;
}

#footer .fh5co-social {
    margin  : 0;
    padding : 0;
}

#footer .fh5co-social li {
    margin     : 0;
    padding    : 0;
    list-style : none;
    display    : -moz-inline-stack;
    display    : inline-block;
    zoom       : 1;
    *display   : inline;
}

#footer .fh5co-social li a {
    padding : 20px;
    color   : #F9D623;
}

#footer .fh5co-social li a i {
    font-size : 30px;
}

#footer .copyright em {
    display    : block;
    font-style : normal;
}

#features {
    padding : 7em 0;
}

#features .feature-center {
    text-align : center;
    float      : left;
    width      : 100%;
}

#features .feature-center .icon {
    width                 : 90px;
    height                : 90px;
    background            : #F9D623;
    border                : 4px solid rgba(0, 0, 0, 0.07);
    display               : table;
    text-align            : center;
    margin                : 0 auto 20px auto;
    -webkit-border-radius : 10px;
    -moz-border-radius    : 10px;
    -ms-border-radius     : 10px;
    border-radius         : 10px;
}

#features .feature-center .icon i {
    display        : table-cell;
    vertical-align : middle;
    height         : 90px;
    font-size      : 40px;
    line-height    : 40px;
    color          : #FFFFFF;
}

#features .feature-center p, #features .feature-center h3 {
    margin-bottom : 10px;
}

#features .feature-center h3 {
    text-transform : uppercase;
    font-size      : 16px;
    color          : #000000;
}

#features .feature-center p {
    color : #A6A6A6;
}

.btn {
    margin-right          : 4px;
    margin-bottom         : 4px;
    font-family           : "Source Code Pro", monospace;
    font-size             : 16px;
    font-weight           : 400;
    -webkit-border-radius : 0px;
    -moz-border-radius    : 0px;
    -ms-border-radius     : 0px;
    border-radius         : 0px;
    -webkit-transition    : 0.5s;
    -o-transition         : 0.5s;
    transition            : 0.5s;
    padding               : 12px 20px;
}

.btn.btn-md {
    padding : 4px 20px !important;
}

.btn.btn-lg {
    padding : 18px 36px !important;
}

.btn-primary {
    background : #00619E;
    color      : #FFFFFF;
    border     : 2px solid #00619E;
}

.btn-primary.btn-outline {
    background : transparent;
    color      : #00619E;
    border     : 2px solid #00619E;
}

.form-control {
    box-shadow            : none;
    background            : transparent;
    border                : 2px solid rgba(0, 0, 0, 0.1);
    height                : 54px;
    font-size             : 18px;
    font-weight           : 300;
    -webkit-border-radius : 0px;
    -moz-border-radius    : 0px;
    -ms-border-radius     : 0px;
    border-radius         : 0px;
}

.form-control:active, .form-control:focus {
    outline      : none;
    box-shadow   : none;
    border-color : #00619E;
}

textarea.form-control {
    height : inherit !important;
}

.row-pb-md {
    padding-bottom : 6em;
}

.js .animate-box {
    opacity : 0;
}

.navbar-default {
    background-color : white;
    padding          : 8px;
}

.navbar-default ul {
    padding : 1px;
}

.navbar-default ul li {
    font-size : x-large;
    color     : lightgrey;
}

.separadorDiagonal {
    padding : 7px 0 0 0;
    margin  : 0;
}

.navbar-default #navPrincipal li a {
    color : #000000;
}

.navbar-default #navPrincipal li a:hover, a:active {
    color         : #00619E;
    border-bottom : 1px solid #00619E;
}

.navbar-default ul li ul li {
    border : none;
}

.nav {
    margin-bottom : 0px;
    color         : lightgrey;
}

.navbar-default {
    border-top-style   : dashed;
    border-top-width   : thin;
    border-top-color   : lightgrey;
    border-left-style  : none;
    border-right-style : none;
}

.header-img {
    max-height : 50px;
}

.vertical-center {
    min-height  : 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height  : 30vh;
    /* These two lines are counted as one :-)       */
    display     : flex;
    align-items : center;
}

footer {
    border-top : 1px solid #7F7F7F;
    padding    : 20px 0;
}

.hero {
    margin-top : 100px;
}

.blueText {
    color : #00619E;
}

.heroText {
    font-size : 2em;
}

.myWorksImage {
    filter  : alpha(opacity=70);
    /* IE < 8 */
    opacity : .7;
}

.myWorksImage:hover {
    filter  : alpha(opacity=100);
    /* IE < 8 */
    opacity : 1;
}

.redText {
    color : #B5322B;
}

.greenText {
    color : #006600;
}

@media screen and (max-width : 440px) {
    .heading {
        border-bottom : 1px solid #00619E;
        padding       : 10px 0;
    }

    header {
        padding : 10px 0;
    }

    .container {
        text-align : center;
    }

    .vertical-center {
        display : block !important;
    }

    .heroName {
        border : none;
    }

    .myWorksImage {
        padding : 20px 0;
    }

    .contactForm {
        padding : 10px 0;
    }

    .header-img {
        max-width : 85% !important;
        margin    : 0 !important;
        float     : left;
        display   : block !important;
    }

    .heroName {
        font-size  : 3.5em;
        text-align : center;
    }

    .heroText {
        text-align : center;
    }

    footer p {
        font-size  : .8em;
        text-align : center
    }

    .separadorDiagonal {
        display : none;
    }
}

/* NAV */

@media only screen and (max-width : 765px) {
    .vertical-center {
        display : block !important;
    }

    .heroName {
        border : none;
    }

    .header-img {
        max-width : 100% !important;
        margin    : 0 !important;
        float     : left;
        display   : block !important;
    }

    footer {
        text-align : center !important;
    }

    .separadorDiagonal {
        display : none;
    }
}

@media only screen and (max-width : 990px) {
    .heroName {
        border-right : none;
    }

    .blurb {
        border : none;
    }

    .header-img {
        display : none;
    }

    footer {
        text-align : center !important;
    }
}

.hideMe {
    display : none !important;
}

.showMe {
    display : block; !important;
}